* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-width: 320px;
  height: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/*----------------HEADER STARTS-----------------*/
.header {
  width: 100%;
  overflow: hidden;
  height: 100px;
  z-index: 2;
  background: #fff;
  overflow: hidden; }
  .header .header-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; }
    .header .header-inner .logo {
      width: 65px;
      margin-top: 15px;
      float: left; }
      .header .header-inner .logo a {
        display: block;
        width: 100%; }
        .header .header-inner .logo a img {
          width: 100%;
          height: auto; }
    .header .header-inner .top-menu {
      float: right;
      width: 81.5%;
      height: 100%; }
      @media (min-width: 320px) and (max-width: 768px) {
        .header .header-inner .top-menu {
          display: none; } }
      .header .header-inner .top-menu li {
        display: block;
        height: 98%;
        float: left;
        text-align: center;
        width: auto;
        margin-right: 3.4%; }
        .header .header-inner .top-menu li a {
          display: block;
          color: #696969;
          font-size: 18px;
          width: auto;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          line-height: 5.9;
          text-transform: uppercase;
          height: 100%; }
          @media (min-width: 320px) and (max-width: 1200px) {
            .header .header-inner .top-menu li a {
              font-size: 11px;
              line-height: 9; } }
        .header .header-inner .top-menu li a:hover {
          color: #d1e177;
          border-bottom: 3px solid #d1e177; }
        .header .header-inner .top-menu li .active {
          color: #d1e177;
          font-weight: 800; }
      .header .header-inner .top-menu li:last-child {
        margin-right: 0px; }
    .header .header-inner .navigation {
      background: transparent url("../img/nav.png") no-repeat scroll 0 0;
      display: none;
      float: right;
      height: 30px;
      margin-right: 2%;
      margin-top: 40px;
      overflow: hidden;
      cursor: pointer;
      width: 40px; }
      @media (min-width: 320px) and (max-width: 768px) {
        .header .header-inner .navigation {
          display: block; } }
    .header .header-inner .vertical-menu {
      background: #fff none repeat scroll 0 0;
      border: 1px solid #dfdfdf;
      border-radius: 10px;
      display: none;
      height: auto;
      left: 0;
      position: absolute;
      top: 100px;
      width: 100%;
      z-index: 3; }
      .header .header-inner .vertical-menu .close-nav {
        z-index: 5;
        left: 93% !important;
        top: 12px !important; }
      .header .header-inner .vertical-menu li {
        width: 100%;
        height: 60px;
        border-bottom: 2px solid #dfdfdf; }
      .header .header-inner .vertical-menu li a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: 3.5;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        color: #d1e177; }

/*----------------HEADER ENDS-----------------*/
/*----------------SLIDER STARTS-----------------*/
.slider {
  width: 100%;
  height: auto;
  min-height: 900px;
  position: relative; }
  .slider .slider-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    .slider .slider-inner .owl-item {
      height: 900px; }
    .slider .slider-inner .owl-nav {
      display: none; }
    .slider .slider-inner .owl-dots {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 22px; }
      .slider .slider-inner .owl-dots span {
        border-radius: 0px !important; }
    .slider .slider-inner img {
      width: 100%;
      height: 100%;
      position: relative; }
  .slider .text-holder {
    width: 73%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 46%;
    left: 50%;
    margin-left: -35%;
    z-index: 1; }
    .slider .text-holder span {
      font-weight: 800;
      text-align: center;
      font-size: 66px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.7px; }
      @media (min-width: 320px) and (max-width: 480px) {
        .slider .text-holder span {
          font-size: 32px; } }
    .slider .text-holder a {
      display: block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      width: 16%;
      background: #fff;
      text-align: center;
      line-height: 3.1;
      color: #d1e177;
      margin: 53px auto 80px; }
      @media (min-width: 320px) and (max-width: 768px) {
        .slider .text-holder a {
          width: 31%; } }
      @media (min-width: 320px) and (max-width: 768px) {
        .slider .text-holder a {
          width: 55%; } }
    .slider .text-holder a:hover {
      color: #fff;
      background: #d1e177; }

/*----------------SLIDER ENDS-----------------*/
/*----------------OUR-STANDS STARTS-----------------*/
.our-stands {
  max-width: 1080px;
  width: 100%;
  margin: 54px auto 0;
  overflow: hidden; }
  .our-stands .slogo-holder {
    width: 32%;
    margin: 53px auto 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    overflow: hidden; }
    @media (min-width: 320px) and (max-width: 1200px) {
      .our-stands .slogo-holder {
        font-size: 25px;
        width: 100%; } }
    .our-stands .slogo-holder p {
      color: #acc118;
      display: block;
      font-weight: 300;
      float: left; }
    .our-stands .slogo-holder span {
      display: block;
      color: #333;
      font-weight: 600;
      float: right;
      margin-left: 10px;
      float: left; }
  .our-stands .stands-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 42px; }
    .our-stands .stands-holder .stands {
      float: left;
      margin-right: 10.6%;
      width: 17%; }
      @media (min-width: 320px) and (max-width: 768px) {
        .our-stands .stands-holder .stands {
          width: 100%;
          margin-bottom: 45px; } }
      .our-stands .stands-holder .stands img {
        display: block;
        margin: 0 auto; }
      .our-stands .stands-holder .stands h4 {
        margin-top: 28px;
        text-align: center;
        color: #c1d62f;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 21px; }
      .our-stands .stands-holder .stands p {
        color: #333333;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-top: 8px;
        line-height: 1.5;
        display: block;
        text-align: center; }
      .our-stands .stands-holder .stands p:first-child {
        width: 200px;
        margin: 0 auto; }
    .our-stands .stands-holder .margin-none {
      margin-right: 0px !important; }

/*----------------OUR-STANDS ENDS-----------------*/
/*----------------BANNER STARTS-----------------*/
.text-banner {
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
  padding-bottom: 40px; }
  .text-banner .text-banner-inner {
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; }
    .text-banner .text-banner-inner img {
      display: block;
      float: left;
      margin-right: 2.5%;
      width: 40.3%;
      margin-top: 79px; }
    .text-banner .text-banner-inner p {
      display: block;
      float: left;
      width: 50%;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      margin-bottom: 35px;
      line-height: 1.3; }
    .text-banner .text-banner-inner .margin-top {
      margin-top: 75px; }
    .text-banner .text-banner-inner .last-p {
      margin-bottom: 85px; }

/*-----------------BANNER  ENDS-----------------*/
footer {
  height: 40px;
  width: 100%;
  background: #1b1b1b; }
  footer span {
    color: #575757;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 3.4; }

/*# sourceMappingURL=style.css.map */
