$font-stack: 'Open Sans', sans-serif;
$primary-green-color: #d1e177;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 320px)and (max-width: 1200px)";
$min-desktop: "(min-width: 320px)and (max-width: 768px)";
$small: "(min-width: 320px)and (max-width: 640px)";
$mobile: "(min-width: 320px)and (max-width: 480px)";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*----------------HEADER STARTS-----------------*/
.header {
  width: 100%;
  overflow: hidden;
  height: 100px;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  .header-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    .logo {
      width: 65px;
      margin-top: 15px;
      float: left;
      a {
        display: block;
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .top-menu {
      float: right;
      width: 81.5%;
      height: 100%;
      @media #{$min-desktop} {
        display: none;
      }
      li {
        display: block;
        height: 98%;
        float: left;
        text-align: center;
        width: auto;
        margin-right: 3.4%;
        a {
          display: block;
          color: #696969;
          font-size: 18px;
          width: auto;
          font-family: $font-stack;
          font-weight: 300;
          line-height: 5.9;
          text-transform: uppercase;
          height: 100%;
          @media #{$desktop} {
            font-size: 11px;
            line-height: 9;
          }
        }
        a:hover {
          color: $primary-green-color;
          border-bottom: 3px solid $primary-green-color;
        }
        .active {
          color: $primary-green-color;
          font-weight: 800;
        }
      }
      li:last-child {
        margin-right: 0px;
      }
    }
    .navigation {
      background: rgba(0, 0, 0, 0) url("../img/nav.png") no-repeat scroll 0 0;
      display: none;
      float: right;
      height: 30px;
      margin-right: 2%;
      margin-top: 40px;
      overflow: hidden;
      cursor: pointer;
      width: 40px;
      @media #{$min-desktop} {
        display: block;
      }
    }

    .vertical-menu {
      background: #fff none repeat scroll 0 0;
      border: 1px solid #dfdfdf;
      border-radius: 10px;
      display: none;
      height: auto;
      left: 0;
      position: absolute;
      top: 100px;
      width: 100%;
      z-index: 3;
      .close-nav {
        z-index: 5;
        left: 93% !important;
        top: 12px !important;
      }
      li {
        width: 100%;
        height: 60px;
        border-bottom: 2px solid #dfdfdf;
      }

      li a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: 3.5;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        color: $primary-green-color;
      }
    }
  }
}

/*----------------HEADER ENDS-----------------*/
/*----------------SLIDER STARTS-----------------*/
.slider {
  width: 100%;
  height: auto;
  min-height: 900px;
  position: relative;
  .slider-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .owl-item {
      height: 900px;
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 22px;
      span {
        border-radius: 0px !important;
      }
    }
    img {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
  .text-holder {
    width: 73%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 46%;
    left: 50%;
    margin-left: -35%;
    z-index: 1;

    span {
      font-weight: 800;
      text-align: center;
      font-size: 66px;
      font-family: $font-stack;
      color: #fff;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      @media #{$mobile}{
        font-size: 32px;
      }
    }
    a {
      display: block;
      font-family: $font-stack;
      font-weight: 600;
      width: 16%;
      background: #fff;
      text-align: center;
      line-height: 3.1;
      color: $primary-green-color;
      margin: 53px auto 80px;
      @media #{$min-desktop}{
        width: 31%;
      }
      @media #{$min-desktop}{
        width: 55%;
      }

    }
    a:hover {
      color: #fff;
      background: $primary-green-color;
    }
  }
}

/*----------------SLIDER ENDS-----------------*/
/*----------------OUR-STANDS STARTS-----------------*/
.our-stands {
  max-width: 1080px;
  width: 100%;
  margin: 54px auto 0;
  overflow: hidden;
  .slogo-holder {
    width: 32%;
    margin: 53px auto 40px;
    font-family: $font-stack;
    font-size: 32px;
    text-transform: uppercase;
    overflow: hidden;
    @media #{$desktop}{
      font-size: 25px;
      width: 100%;
    }
    p {
      color: #acc118;
      display: block;
      font-weight: 300;
      float: left;
    }
    span {
      display: block;
      color: #333;
      font-weight: 600;
      float: right;
      margin-left: 10px;
      float: left;
    }
  }

  .stands-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 42px;
    .stands {
      float: left;
      margin-right: 10.6%;
      width: 17%;
      @media #{$min-desktop}{
        width: 100%;
        margin-bottom: 45px;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      h4 {
        margin-top: 28px;
        text-align: center;
        color: #c1d62f;
        font-family: $font-stack;
        font-weight: 600;
        font-size: 21px;
      }
      p {
        color: #333333;
        font-family: $font-stack;
        font-weight: 400;
        margin-top: 8px;
        line-height: 1.5;
        display: block;
        text-align: center;
      }
      p:first-child {
        width: 200px;
        margin: 0 auto;
      }
    }
    .margin-none {
      margin-right: 0px !important;
    }
  }
}

/*----------------OUR-STANDS ENDS-----------------*/
/*----------------BANNER STARTS-----------------*/
.text-banner {
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
  padding-bottom: 40px;
  .text-banner-inner {
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    img {
      display: block;
      float: left;
      margin-right: 2.5%;
      width: 40.3%;
      margin-top: 79px;
    }
    p {
      display: block;
      float: left;
      width: 50%;
      font-family: $font-stack;
      font-size: 16px;
      margin-bottom: 35px;
      line-height: 1.3;
    }
    .margin-top {
      margin-top: 75px;
    }
    .last-p {
      margin-bottom: 85px;
    }
  }
}

/*-----------------BANNER ENDS-----------------*/
/*-----------------Footer ENDS-----------------*/
footer {
  height: 40px;
  width: 100%;
  background: #1b1b1b;
  span {
    color: #575757;
    font-family: $font-stack;
    font-weight: 300;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 3.4;
  }
}
/*-----------------Footer ENDS-----------------*/

